#loginFormWrapper,
#registerFormWrapper {
  background: #eee;
  max-width: 720px;
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 40px;
}

#loginFormWrapper h1,
#registerFormWrapper h1 {
  margin-top: 0px;
}

#signInSubmit,
#registerSubmit {
  margin-right: 10px;
}

